.subnav{
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    top: 60px;
    overflow: hidden;
  }
  
  .subcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
  
  }
  .subnavegador1{
    display: flex;
    justify-content: flex-start;
  }
  
  .subnavegador2{
    display: flex;
    justify-content: flex-end;
  }
  
  .subcontent li{
    list-style: none;
  }
  .subcontent a{
    color: beige;
    text-decoration: none;
    
    padding: 10px;
  }
  
  .subcontent a:hover{
    background-color: blue;
  }
  
  .subcentrar-row{
      display: flex;
      justify-content: center;
      flex-flow: row nowrap;
      align-items: center;
      
  }
  
  .logo img{
    width: 60px;
  }
  
  