.subnav{
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    width: 100vw;
    background-color: rgba(53, 53, 53, 0.637);
    position: fixed;
    top: 60px;
    overflow: hidden;
  }
  
  .subcontent{
    display: flex;
    
    
  }

  .menu{
    display: flex;
    justify-content: space-between;
    align-items:start;
    flex-flow: row nowrap;
    padding: 10px;
  }
  .subcontent ul{
    width: 15vw;  
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center ;

  }
  
 
  .subcontent li{
    list-style: none;
    margin: 10px;
  }
  .subcontent a{
    color: beige;
    text-decoration: none;
    padding: 10px;
  }
  
  .subcontent a:hover{
    background-color: blue;
  }
  

  
  .sublogo{
    display: flex;
    width: 15vw;
    padding: 5px;
    background-color: black;

  }
  .sublogo img{
   width: 100%;
   display: block;
  }
  
  